@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --clr-primary-000: #424842;
    --clr-primary-100: #566342;
    --clr-primary-200: #566342c2;
    --clr-primary-300: #23422a;

    --clr-neutral-000: #fff;
    --clr-neutral-100: #fdf9ef;
    --clr-neutral-200: #f1eee3;

    --ff-base: "Manrope", sans-serif;
    
    --fs-000: 0.75rem;
    --fs-050: 0.88rem;
    --fs-100: 1rem;
    --fs-200: 1.125rem;
    --fs-250: 1.25rem;
    --fs-300: 1.5rem;
    --fs-350: 1.9rem;
    --fs-400: 2.25rem;
    
    --fw-400: 400;
    --fw-700: 700;

}

body{
    background-color: var(--clr-neutral-100);
    
    font-size: var(--fs-100);
    font-family: var(--ff-base);
    font-weight: var(--fw-400);
    color: var(--clr-primary-000);
    line-height: 1.2;
}

.header{
    padding-block:1.5rem;
    padding-inline: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__logo{
    color: var(--clr-primary-300);
    font-weight: var(--fw-700);
    font-size: var(--fs-300);
    font-family: serif;
}

.header__menu{
    display: inline-flex;
    gap: 1rem;
}

.hero{
    background: url(https://picsum.photos/id/1040/800/600) center center / cover;

    padding-inline: 2rem;
    padding-block: 8rem;

    margin-bottom: 6rem;
}

.hero__container{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 2rem;
    background-color: #fdf9efd0;
    text-align: center;
    
}

.hero__container__title{
    font-size: var(--fs-000);
    letter-spacing: 3px;
}
.hero__container__main-title{
    margin-block: 1rem 1.5rem;
    
    font-size: var(--fs-400);
    font-family: serif;
    font-weight: var(--fw-700);
    color: var(--clr-primary-300);
}
.hero__container__description{
    line-height: 1.6;
    text-wrap: balance;
    margin-bottom: 2rem;
}

.hero__container__explore{
    display: block;

    font-weight: var(--fw-700);
    font-size: var(--fs-050);
    color: var(--clr-neutral-000);
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: var(--clr-primary-300);

    padding: 1rem 2.5rem;
}

.selected-studies{
    padding-inline: 2rem;

    margin-bottom: 6rem;
}

.selected-studies__title{
    color: var(--clr-primary-300);
    font-size: var(--fs-400);
    font-family: serif;

    margin-bottom: 1rem;
}

.selected-studies__description{
    line-height: 1.5;

    margin-bottom: 1.5rem;
}

.selected-studies__monographies{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--fs-000);

    margin-bottom: 3rem;

    display: block;
}

.selected-studies__cards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.selected-studies__cards__card{
    position: relative;

}

.selected-studies__cards_card__image{
    height: 25rem;
    object-fit: cover;
}

.selected-studies__cards__card__text{
    background: var(--clr-neutral-100);

    position: absolute;

    bottom: 1.5rem;
    left: 1.5rem;    

    padding: 1rem;
}

.selected-studies__cards__card__text__title{
    color: var(--clr-primary-300);
    font-family: serif;
    font-size: var(--fs-250);
}

.selected-studies__cards__card__text__description{
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.shop{
    background-color: var(--clr-neutral-200);

    padding-top: 6rem;
    padding-bottom: 4rem;
    padding-inline: 2rem;
}

.shop__title{
    color: var(--clr-primary-300);
    font-size: var(--fs-350);
    font-family: serif;

    margin-bottom: 2rem;
}

.shop__description{
    line-height: 1.5;

    margin-bottom: 3rem;
}

.shop__articles_article_image{
    margin-bottom: 1.5rem;
}

.shop__articles__article__detials__name{
    font-family: serif;
    color: var(--clr-primary-300);
    font-size: var(--fs-200);

    margin-bottom: 1rem;
}

.shop__articles__article_details{
    display: flex;

    justify-content: space-between;
    
    margin-bottom: 2rem;
}

.shop__articles__article__details__description{
    font-size: var(--fs-000);
    letter-spacing: 1px;
}

.shop__articles__article__details__price{
    font-weight: var(--fw-700);
    font-size: var(--fs-050);
}